.header{
    width: 100%;
    height: auto;
}
.header h1{
    text-align: center;
    font-size: 14px;
    
    height: auto;
    text-align: center;
    color: blue;
    border-radius: 50px;
    /* background-color: rgb(169, 189, 233);  */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header h2{
    text-align: center;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header h3{
    text-align: center;
    font-size: 14px;
    color: rgb(50, 6, 88);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
    width: 80%;
    height: 500px;
    /* outline:1px solid red; */
    margin: 0 auto;
}
.flexbox{
    width: 100%;
    height: auto;
    display: flex;
}
.flexbox1{
    position: relative;
    width: 25%;
    height: auto;
    margin: 0px 0px 0px 10px;
    /* background-color: rgb(123, 46, 46); */
    /* outline: 1px solid black; */
      /* border: 1px 5px 5px 5px solid rgb(214, 77, 77); */
      /* background-color: aqua; */
      border: 1px solid   rgb(232, 248, 248) ;
      border-radius: 5px;
   
}

.text{
    background-color: rgb(232, 248, 248);
    margin: -10px 0px;
    border-radius: 5px;
    text-align: center;
    height: 40px;
}
.flexbox11 .text{
    background-color: rgb(67, 82, 245);
    margin: -10px 0px;
    border-radius: 5px;
    text-align: center;
    height: 40px;
}
.flexbox1 h2::first-line{
    color: blue;
    font-size: 22px;

}
.flexbox11 h2::first-line{
    color: blue;
    font-size: 22px;

}

.text h1{
    font-size: 14px;
    padding: 15px 0px;

}
.flexbox11 .text h1{
    font-size: 14px;
    padding: 15px 0px;
    color: white;

}
.flexbox1 h3{
    text-align: center;
    font-size: 14px;
    line-height: 25px;
    color: rgb(87, 83, 118);

}

.flexbox1 h2 {
    text-align: center;
}
.flexbox1
button {
    /* align-items: center; */
    background-color: rgb(73, 73, 255);
    /* justify-content: center;
    display: inline-block; */
    font-size: 12px;
    border: 1px solid rgb(231, 227, 227);
    border-radius: 2px;
    width: 40%;
    height: 30px;
    color: white;
}
.btn{
    background-color: rgb(232, 248, 248);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height: 50PX;
}
.flexbox11
{
    width: 25%;
    height: auto;
    margin: 0px 0px 0px 10px;
    /* background-color: rgb(123, 46, 46); */
    /* outline: 1px solid black; */
      /* border: 1px 5px 5px 5px solid rgb(214, 77, 77); */
      /* background-color: aqua; */
      border: 1px solid  rgb(232, 248, 248) ;
      border-radius: 5px;
   
}
.flexbox11
button {
    /* align-items: center; */
    background-color: rgb(73, 73, 255);
    /* justify-content: center;
    display: inline-block; */
    font-size: 14px;
    border: 1px solid rgb(231, 227, 227);
    border-radius: 2px;
    width: 40%;
    height: 30px;
    color: white;
}
.flexbox11 h3{
    text-align: center;
    font-size: 14px;
    line-height: 25px;
    color: rgb(87, 83, 118);

}

.flexbox11 h2 {
    text-align: center;
}

/*  */
.flexbox12
{
    width: 25%;
    height: auto;
    margin: 0px 0px 0px 10px;
    /* background-color: rgb(123, 46, 46); */
    /* outline: 1px solid black; */
      /* border: 1px 5px 5px 5px solid rgb(214, 77, 77); */
      /* background-color: aqua; */
      border: 1px solid  rgb(232, 248, 248) ;
      border-radius: 5px;
   
}
.flexbox12
button {
    /* align-items: center; */
    background-color: rgb(73, 73, 255);
    /* justify-content: center;
    display: inline-block; */
    font-size: 14px;
    border: 1px solid  rgb(232, 248, 248);
    border-radius: 2px;
    width: 40%;
    height: 30px;
    color: white;
}
.flexbox12 h3{
    text-align: center;
    font-size: 14px;
    line-height: 25px;
    color: rgb(87, 83, 118);

}

.flexbox12 h2 {
    text-align: center;
}
.flexbox12 h2::first-line{
    color: blue;
    font-size: 22px;

}
/*  */
.flexbox13
{   overflow: hidden;
    position: relative;
    width: 25%;
    height: auto;
    margin: 0px 0px 0px 10px;
    /* background-color: rgb(123, 46, 46); */
    /* outline: 1px solid black; */
      /* border: 1px 5px 5px 5px solid rgb(214, 77, 77); */
      /* background-color: aqua; */
      border: 1px solid  rgb(232, 248, 248) ;
      border-radius: 5px;
   
}
.flexbox13
button {
    /* align-items: center; */
    background-color: rgb(73, 73, 255);
    /* justify-content: center;
    display: inline-block; */
    font-size: 14px;
    border: 1px solid rgb(231, 227, 227);
    border-radius: 2px;
    width: 40%;
    height: 30px;
    color: white;
}
.flexbox13 h3{
    text-align: center;
    font-size: 14px;
    line-height: 25px;
    color: rgb(87, 83, 118);

}

.flexbox13 h2 {
    text-align: center;
}
.flexbox13 h2::first-line{
    color: blue;
    font-size: 22px;

}
.advanced h1{
    position: absolute;
    top: 5px;
    right: -15px;
    width: 80px;
    height: 15px;
    text-align:center;
    rotate: 40deg;
    color:  white;
    background-color: blue;
    font-size: 11px;
}